body, html {
    padding:0;
    margin:0;
}

body {
    background-color: #1C1C1C;
}

/*     HEADER     */

.header h1 {
    font-size:50px;
    color:white;
}

.header {
    display:flex;
    flex-direction: column;
    border-bottom: 10px solid #cfff29;
    background-color: #1C1C1C;
    flex-wrap: wrap;
    box-shadow: 1px 1px 5px black;
}
/*     MENU    */
.item {
    text-decoration: none;
    color: white;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}

.menu {
    display: flex;
    gap:30px;
    justify-content: center;
}

.menu a:hover {
    color:yellow;
    transform: scale(1.1);
}

.title {
    display: flex;
    flex-direction: row;
    gap:15px;
    padding-top: 10px;
    justify-content: center;
}

.content {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: left;
}