body, html {
    padding:0;
    margin:0;
}

body {
    display:flex;
    flex-direction: column;
    background-color: #1C1C1C;
    
}

/*      HEADER      */

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1C1C1C;
    justify-content: center;
    position:sticky;
    top:0;
}

.title {
    display: flex;
    gap:10px;
    padding-top:10px;
    justify-content: center;
}

.title h1 {
    color:white;
}
.menu {
    display: flex;
    justify-content: center;
    background-color: #cfff29;
    gap:30px;
    padding: 5px;
}

.menu a {
    color:#1C1C1C;
    font-weight: bold;

}

.item {
    text-decoration: none;
    color: white;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}
/*      CONTENT      */
.content {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: left;
    width:100%;
}

/*      TABLE      */ 
td, th {
    text-align: center; 
    border: 3px solid #cfff29;
    padding:10px;
    border-radius: 10px;
    width:200px;
}

table {
    border-spacing: 5px;
    padding:10px;
}
/*      BAND AND CHILDREEN      */
.band {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
}


.childreen {
    display: flex;
    align-items: center;
    border: 3px solid #cfff29;
    border-radius: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    padding: 60px;
    justify-content: center;
}

.childreen a {
    text-decoration: none;
    color:white;
    margin: 1px;
}

.childreen a:hover {
    color: #cfff29;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box-item {
    display: flex;
    align-items: center;
    gap:10px;
    text-align: justify;
}

.box-item p {
    width: 300px;
}

img, text {
    display: flex;
}
/*      FOOTER      */
.footer {
    display:flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid #cfff29;
}