body, html {
    padding:0;
    margin:0;
}

body {
    background-color: #1C1C1C;
}

/*     HEADER     */

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1C1C1C;
}

.title {
    display: flex;
    gap:10px;
    padding-top:10px;
    justify-content: center;
}

.title h1 {
    color:white;
}
.menu {
    display: flex;
    justify-content: center;
    background-color: #cfff29;
    gap:30px;
    padding: 5px;
}

.menu a {
    color:#1C1C1C;
    font-weight: bold;

}


/*     MENU    */
.item {
    text-decoration: none;
    color: white;
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}

.content {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: left;
    width:100%;
}

.morpheus:hover {
    transform: scale(1.2);
}

td, th {
    text-align: center;
    border: 3px solid #cfff29;
    padding:10px;
    border-radius: 10px;
    width:200px;
}

table {
    border-spacing: 5px;
}


.footer {
    display:flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid #cfff29;
}

.band {
    display: flex;
    align-items: center;
    justify-content: center;
}

.childreen {
    display: flex;
    align-items: center;
    width:600px;
    border: 3px solid #cfff29;
    border-radius: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
}

.childreen a {
    text-decoration: none;
    color:white;
    margin: 1px;
}

.childreen a:hover {
    color: #cfff29;
}